# common ignored files in git
.DS_Store
xcuserdata/
xcshareddata/
*.xcuserdatad/
*.xcworkspace/

# session 404

# session 228
frameworks/228_PresetationController/228_PresetationController.xcodeproj/xcuserdata/llv23.xcuserdatad/

# session 235
frameworks/235_ScrollTouchView/235_ScrollTouchView.xcodeproj/project.pbxproj

# session 411

# swift contest playarounds
swift/SwiftIDOLOnDemand/
swift/puzzle.txt
swift/GithubIssueTracker/
XcodeDefault.xctoolchain
swift/TopCoderChallengeAlert/
swift/TopCoderChallengeAlert.zip
*.playground/
*.xcworkspace/

# include swift learning playaround
!swift/CurryPlayground.playground/

# avoid xcworkspace and other language support
playground.xcworkspace/
!contents.xcplayground
!timeline.xctimeline

# watchkit programming
xcuserdata/
